body {margin:0;
	padding-top: 2%;
    padding-right: 50px;
    padding-left: 40%;
	background-color:rgb(13, 76, 127);
	color:white;}
form {
	}
#logo {color:blue;
	background-image: no-repeat;
	}
#login {border:0;
color:#000000;
background-color:white;
font-size: 100%;
padding:7px 22px;
border-right-width: 5px;
border-left-width: 5px;
background:#FFFFFF;}

	